.portfolioBuilder{
    display: grid;
    grid-template-columns: 30% 60%;
}
section{
    width: 100%;
    min-height: 100px;
    border:1px solid #000;
    padding-bottom: 20px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section div{
    border: 0.1px solid rgb(189, 189, 189);
}
.section div.dragedElement{
    border: 0.1px solid #ffee00;
}
.dragedElement{
    border: 1px solid #ffee00;
}